@font-face {
  font-family: "SEGA LOGO FONT";
  font-size: normal;
  font-weight: normal;
  src: url("SEGA.woff");
}
#heading {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: #0ccac4;
}
